@model ProblemEditModel
@{
    ViewData["Title"] = "Problem Editor";
}

@inject JudgeWeb.Areas.Judge.Services.JudgeManager JudgeManager
@{
    var scripts = await JudgeManager.GetExecutablesByProblemEditorAsync();
    var compares = scripts.Where(e => e.Type == "compare").Select(e => new SelectListItem($"{e.ExecId} - {e.Description}", e.ExecId));
    var runs = scripts.Where(e => e.Type == "run").Select(e => new SelectListItem($"{e.ExecId} - {e.Description}", e.ExecId));
}

<div class="container-fluid mt-4 mb-4 pl-4 pr-4">
    <h2>@ViewData["Title"]</h2>
    <h5 class="mb-3">#@Model.ProblemId</h5>

    <div class="row">
        <div class="col-md-6">
            @if (ViewData.ContainsKey("Message"))
            {
                <div class="alert alert-@ViewData["MsgType"] alert-dismissible fade show" role="alert">
                    @ViewData["Message"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            <form asp-action="Edit" method="post" class="setting-form-group">
                <input type="hidden" asp-for="ProblemId" />
                <div class="form-group">
                    <label class="font-weight-bold" asp-for="Title">Problem Title</label>
                    <input class="form-control" asp-for="Title" />
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Running Limitations</label>
                    <div class="row">
                        <div class="input-group col-lg-6">
                            <div class="input-group-prepend"><span class="input-group-text" id="ms-tag">Time</span></div>
                            <input asp-for="TimeLimit" class="form-control" placeholder="better to be times of 1000" aria-label="Time" aria-describedby="ms-tag" />
                            <div class="input-group-append"><span class="input-group-text" id="ms-tag">ms</span></div>
                        </div>
                        <div class="input-group col-lg-6 mt-3 mt-lg-0">
                            <div class="input-group-prepend"><span class="input-group-text" id="KB-tag">Memory</span></div>
                            <input asp-for="MemoryLimit" class="form-control" placeholder="better to be times of 32768" aria-label="Memory" aria-describedby="KB-tag" />
                            <div class="input-group-append"><span class="input-group-text" id="KB-tag">KB</span></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold" asp-for="Source"></label>
                    <input asp-for="Source" class="form-control" aria-describedby="sourceHelp" />
                    <small id="sourceHelp" class="form-text text-muted">Source of this problem, usually described as "Name" or "Name|Link".</small>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Judging Type</label>
                    <div class="row">
                        <div class="input-group col-lg-6">
                            <div class="input-group-prepend"><span class="input-group-text">Run</span></div>
                            <select class="custom-select" asp-for="RunScript" asp-items="runs"></select>
                        </div>
                        <div class="input-group col-lg-6 mt-3 mt-lg-0">
                            <div class="input-group-prepend"><span class="input-group-text">Compare</span></div>
                            <select class="custom-select" asp-for="CompareScript" asp-items="compares"></select>
                        </div>
                        <div class="input-group col-12 mt-3">
                            <div class="input-group-prepend"><span class="input-group-text" id="cmparg-tag">Compare Arguments</span></div>
                            <input asp-for="CompareArgument" class="form-control" placeholder="Default to leave empty" aria-label="Time" aria-describedby="cmparg-tag" />
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox mt-3">
                        <input type="checkbox" class="custom-control-input" asp-for="RunAsCompare">
                        <label class="custom-control-label" asp-for="RunAsCompare"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Activity</label>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" asp-for="IsActive" id="isactive">
                        <label class="custom-control-label" for="isactive">Is Active and Visible to Public</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Markdown Editor</label>
                    <div>
                        <a class="btn btn-outline-primary" target="_blank" asp-action="Markdown" asp-route-backstore="@($"p{Model.ProblemId}")" asp-route-target="description">Description</a>
                        <a class="btn btn-outline-success" target="_blank" asp-action="Markdown" asp-route-backstore="@($"p{Model.ProblemId}")" asp-route-target="inputdesc">Input</a>
                        <a class="btn btn-outline-warning" target="_blank" asp-action="Markdown" asp-route-backstore="@($"p{Model.ProblemId}")" asp-route-target="outputdesc">Output</a>
                        <a class="btn btn-outline-info" target="_blank" asp-action="Markdown" asp-route-backstore="@($"p{Model.ProblemId}")" asp-route-target="hint">Hint</a>
                    </div>
                    <small id="sourceHelp" class="form-text text-muted">Editor will be opened in new tabs or windows.</small>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"> Save </button>
                    <a asp-action="Export" asp-route-pid="@Model.ProblemId" class="btn btn-secondary"> Export </a>
                </div>
            </form>
        </div>
    </div>
</div>
