@model IEnumerable<ProblemArchive>
@{
    ViewData["Title"] = "Problem List";
}

<div class="container-fluid mt-4 mb-4 pl-4 pr-4">
    @TempData["StatusMessage"]
    <h2>Problem Archive</h2>
    <h5 class="mb-3">
        List of problem archive
    </h5>

    <table class="table table-responsive-lg">
        <thead>
            <tr>
                <th style="min-width:5em"><span class="d-none d-lg-inline"> Prob.</span>ID</th>
                <th style="min-width:20em">Title</th>
                <th style="min-width:10em">Ratio<span class="d-none d-lg-inline"> (AC/Total)</span></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.PublicId
                        <!--
                        if (stat.MeAc > 0)
                        {
                            <span class="bowtie text-success"><i class="bowtie-status-success"></i></span>
                        }
                        else if (stat.MeTot > 0)
                        {
                            <span class="bowtie text-warning"><i class="bowtie-status-waiting-fill"></i></span>
                        }-->
                    </td>
                    <td>
                        <a asp-action="View" asp-route-pid="@item.PublicId">@item.Title</a>
                        @foreach (var src in item.Source.Split(',').Where(s => !string.IsNullOrWhiteSpace(s)))
                        {
                            <span class="badge badge-info" style="font-size:0.7em">@src.Trim()</span>
                        }
                    </td>
                    <td>@Html.RatioOf(0, 0)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="@(User.IsInRoles("Administrator,Problem") ? 2 : 3)">
                    <ul class="pagination pagination-sm mb-0 d-block"><li class="page-item disabled d-inline-block">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Page</a>
                        </li>@for (int i = 1; i <= ViewBag.TotalPage; i++)
                        {
                            if (i == ViewBag.Page)
                            {<li class="page-item d-inline-block active" aria-current="page">
                                    <span class="page-link">
                                        @i
                                        <span class="sr-only">(current)</span>
                                    </span>
                                </li>}
                            else
                            {<li class="page-item d-inline-block">
                                    <a class="page-link" asp-action="List" asp-route-pg="@i">@i</a>
                                </li>}
                        }</ul>
                </td>
                @if (User.IsInRoles("Administrator,Problem"))
                {
                    <td>
                        <a asp-action="Import" data-toggle="ajaxWindow" data-target="restore" class="bowtie text-dark"><i class="bowtie-tfvc-pull-request"></i> Import</a>
                    </td>
                }
            </tr>
        </tfoot>
    </table>
</div>
