@model JuryEditModel
@{
    ViewData["Title"] = "Edit contest";
    ViewData["DisableAjaxRefresh"] = true;
    List<TeamCategory> cats = ViewBag.Categories;
    Dictionary<int, string> repos = ViewBag.Repository;
    var catSel = cats.Select(c => new SelectListItem(c.Name, c.CategoryId.ToString()));
    var probSel = repos.Select(p => new SelectListItem($"p{p.Key} - {p.Value}", p.Key.ToString()));
}

<h1 class="mt-3">Edit contest @Model.ContestId</h1>

<partial name="_StatusMessage" model="ViewBag.Message" />

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ContestId" />
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="ShortName" class="required"></label>
                <input type="text" asp-for="ShortName" class="form-control" />
                <span asp-validation-for="ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="required"></label>
                <input type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="required"></label>
                <input type="datetime" asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FreezeTime"></label>
                <input type="text" asp-for="FreezeTime" class="form-control" />
                <span asp-validation-for="FreezeTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StopTime" class="required"></label>
                <input type="text" asp-for="StopTime" class="form-control" />
                <span asp-validation-for="StopTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnfreezeTime"></label>
                <input type="text" asp-for="UnfreezeTime" class="form-control" />
                <span asp-validation-for="UnfreezeTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RankingStrategy"></label>
                <select class="form-control" asp-for="RankingStrategy">
                    <option value="0">ACM-ICPC style</option>
                    <option value="1">Codeforces style</option>
                    <option value="2">NOI style</option>
                </select>
                <span asp-validation-for="RankingStrategy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Visiblity</label>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" asp-for="IsPublic">
                    <label class="custom-control-label" asp-for="IsPublic"></label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DefaultCategory"></label>
                <select class="form-control" asp-for="DefaultCategory" asp-items="catSel">
                    <option value="0">-- Registration Closed --</option>
                </select>
                <span asp-validation-for="RankingStrategy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="medal_input">Medal counts for golden / silver / bronze</label>
                <div class="input-group mb-3" id="medal_input">
                    <input type="number" class="form-control" placeholder="Golden" aria-label="Golden" asp-for="GoldenMedal" />
                    <input type="number" class="form-control" placeholder="Silver" aria-label="Golden" asp-for="SilverMedal" />
                    <input type="number" class="form-control" placeholder="Bronze" aria-label="Golden" asp-for="BronzeMedal" />
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <b>Specification of short name:</b><br />
            Note that the short name will display on the title bar. <br /><br /><br />

            <b>Specification of contest times:</b><br />
            Each of the contest times can be specified as absolute time or relative
            to the start time (except for start time itself).<br /><br />
            Absolute time format: <b><tt>YYYY-MM-DD HH:MM:SS</tt></b><br />
            Relative time format: <b><tt>+[HHH]H:MM:SS</tt></b><br /><br /><br />

            <b>Specification of ranking strategy:</b><br />
            If the ICPC-style is chosen, any rejected solutions before accepted
            solutions excluding compiler-error will be 20 minutes penalty. Ranking
            will take the count of solved problems and total penalty into
            consideration.<br />
            If the Codeforces-style is chosen, points gained from solving problems
            will be calculated with the submitting time. Each re-submission will
            cause 50 points decrease.<br />
            If the NOI-style is chosen, ranking will take the points from each
            testcase into total.<br />
        </div>
    </div>

    <table class="mt-4 table table-sm table-striped">
        <thead>
            <tr>
                <th><label class="required">Problem</label></th>
                <th><label class="required">Short name</label></th>
                <th><label class="required">Allow submit</label></th>
                <th><label class="required">Allow judge</label></th>
                <th><label>Color</label></th>
                <th></th>
            </tr>
        </thead>
        <tbody data-collection-holder data-after-add="bindColor">
            @foreach (var (ii, item) in Model.Problems ?? Enumerable.Empty<KeyValuePair<int, ContestProblem>>())
            {
                <tr>
                    <td>
                        <input type="hidden" name="Problems[@ii].ProblemId" value="@item.ProblemId" />
                        <input type="text" data-name="Problems[@ii].ProblemId" value="p@(item.ProblemId) - @repos[item.ProblemId]" class="form-control custom-select form-control prob-sel" />
                    </td>
                    <td><input type="text" name="Problems[@ii].ShortName" required class="form-control" value="@item.ShortName" /></td>
                    <td><select name="Problems[@ii].AllowSubmit" class="form-control custom-select form-control"><option value="True" issel="item.AllowSubmit">Yes</option><option value="False" issel="!item.AllowSubmit">No</option></select></td>
                    <td><select name="Problems[@ii].AllowJudge" class="form-control custom-select form-control"><option value="True" issel="item.AllowJudge">Yes</option><option value="False" issel="!item.AllowJudge">No</option></select></td>
                    <td><input type="text" name="Problems[@ii].Color" class="color form-control" value="@Html.Raw(item.Color)" /></td>
                    <td><button type="button" data-delete class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5"></td>
                <td>
                    <button type="button" data-add class="btn btn-success"><i class="fas fa-plus"></i></button>
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="form-group">
        <button type="submit" class="btn-primary btn">Save</button>
    </div>
</form>

<div class="modal fade" id="chooseProblem" tabindex="-1" role="dialog" aria-labelledby="chooseProblemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chooseProblemLabel">Choose problem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <select id="problem-selector" asp-items="probSel" class="form-control"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="chooseFinish" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script src="~/static/js/jscolor.min.js"></script>
<script>jscolor.dir = "/static/js/";</script>

<script type="text/html" data-prototype>
    <tr>
        <td>
            <input type="hidden" name="Problems[__name__].ProblemId" value="1001" />
            <input type="text" data-name="Problems[__name__].ProblemId" value="p1001 - A+B Problem" class="form-control custom-select form-control prob-sel" />
        </td>
        <td><input type="text" name="Problems[__name__].ShortName" required class="form-control" /></td>
        <td><select name="Problems[__name__].AllowSubmit" class="form-control custom-select form-control"><option value="True">Yes</option><option value="False">No</option></select></td>
        <td><select name="Problems[__name__].AllowJudge" class="form-control custom-select form-control"><option value="True">Yes</option><option value="False">No</option></select></td>
        <td><input type="text" name="Problems[__name__].Color" class="color form-control" value="#FFFFFF" /></td>
        <td><button type="button" data-delete class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></td>
    </tr>
</script>

<script>
    var target = "";

    $('body').on('click', '.prob-sel', function () {
        target = $(this).data('name');
        $('#problem-selector').val($('input[name="' + target + '"]').val());
        $('#chooseProblem').modal('show');
    });

    $('#chooseFinish').on('click', function () {
        var value = $('#problem-selector').val();
        $('input[data-name="' + target + '"]').val($('#problem-selector option:selected').text());
        $('input[name="' + target + '"]').val(value);
        $('#chooseProblem').modal('hide');
    });
</script>


<script>
    function bindColor() {
        jscolor.bind();
    }
</script>

<script>
    var $collectionHolder;

    $(function () {
        $collectionHolder = $('[data-collection-holder]');
        $collectionHolder.data('index', $collectionHolder.find('tr').length);
        $('[data-add]').on('click', function () {
            addCollectionItem($collectionHolder);
        });

        $('[data-delete]').on('click', function () {
            $(this).closest('tr').remove();
        });

        function addCollectionItem($collectionHolder) {
            var prototype = $('[data-prototype]').text();
            var index = $collectionHolder.data('index');
            prototype = prototype.replace(/__name__/g, index);
            $collectionHolder.data('index', index + 1);
            var $prototype = $(prototype);
            $prototype.find('[data-delete]').on('click', function () {
                $(this).closest('tr').remove();
            });

            $collectionHolder.append($prototype);

            if ($collectionHolder.data('after-add')) {
                window[$collectionHolder.data('after-add')]();
            }
        }
    });
</script>


