@model JuryHomeModel
@inject UserManager UserManager
@{
    ViewData["Title"] = "Jury";
    Contest ctx = ViewBag.Contest;
    ViewData["DisableAjaxRefresh"] = true;
    var state = ctx.GetState();
    var users = await UserManager.GetUsersInRoleAsync("JuryOfContest" + ctx.ContestId);
}

<style>

    .data-table td a, .data-table td a:hover {
        display: block;
        text-decoration: none;
        color: inherit;
    }

    .data-table th {
        white-space: nowrap;
    }

    .data-table td {
        white-space: nowrap;
    }

    .dataTables_filter {
        text-align: inherit;
    }

    .table-wrapper {
        display: inline-block;
    }
</style>

<h1 class="mt-3">
    Contest
    <span style="font-variant:small-caps;">
        @Model.Contest.ShortName
    </span>
    <a asp-action="Edit" class="btn btn-sm btn-outline-primary">Edit</a>
</h1>
<h4 class="text-left mb-3">@Model.Contest.Name</h4>

<div class="row">
    <div class="col-lg-6">
        <partial name="_StatusMessage" model="Model.Message" />
        <div class="card mb-3">
            <div class="card-header">
                Time
            </div>
            <div class="card-body">
                <form method="post">
                    <table class="table table-hover mb-0">
                        <tbody>
                            <tr>
                                <td><i class="fas fa-@((int)state >= 2 ? "check" : "")"></i></td>
                                <td><b>Start time:</b></td>
                                <td show-time="Model.Contest.StartTime" null-value="not scheduled"></td>
                                <td>
                                    @if (state == ContestState.ScheduledToStart && User.IsInRole("Administrator"))
                                    {
                                        <button asp-action="ChangeState" asp-route-target="startnow" class="btn btn-sm btn-primary">start now</button>
                                        <button asp-action="ChangeState" asp-route-target="delay" class="mt-1 mt-md-0 btn btn-sm btn-primary">delay</button>
                                    }
                                    else if (state == ContestState.NotScheduled && User.IsInRole("Administrator"))
                                    {
                                        <button asp-action="ChangeState" asp-route-target="startnow" class="btn btn-sm btn-primary">start now</button>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-@(Model.Contest.FreezeTime.HasValue && (int)state >= 3 ? "check" : "")"></i></td>
                                <td><b>Freeze time:</b></td>
                                <td show-time="Model.Contest.FreezeTime"></td>
                                <td>
                                    @if (state == ContestState.Started && User.IsInRole("Administrator"))
                                    {
                                        <button asp-action="ChangeState" asp-route-target="freeze" class="btn btn-sm btn-primary">freeze now</button>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class=""><i class="fas fa-@(Model.Contest.EndTime.HasValue && (int)state >= 4 ? "check" : "")"></i></td>
                                <td class=""><b>End time:</b></td>
                                <td show-time="Model.Contest.EndTime"></td>
                                <td>
                                    @if ((state == ContestState.Started || state == ContestState.Frozen) && User.IsInRole("Administrator"))
                                    {
                                        <button asp-action="ChangeState" asp-route-target="endnow" class="btn btn-sm btn-primary">end now</button>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-@(Model.Contest.UnfreezeTime.HasValue && (int)state >= 5 ? "check" : "")"></i></td>
                                <td><b>Unfreeze time:</b></td>
                                <td show-time="Model.Contest.UnfreezeTime"></td>
                                <td>
                                    @if (state == ContestState.Ended && User.IsInRole("Administrator"))
                                    {
                                        <button asp-action="ChangeState" asp-route-target="unfreeze" class="btn btn-sm btn-primary">unfreeze now</button>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                Utilities
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="ml-2 text-left">Infrastructures</h5>
                        <ul>
                            <li><a asp-area="Judge" asp-controller="Dashboard" asp-action="InternalError">Internal Errors</a></li>
                            <li><a asp-area="Judge" asp-controller="Dashboard" asp-action="JudgeHost">Judgehosts</a></li>
                            <li><a asp-area="Judge" asp-controller="Dashboard" asp-action="Executable">Executables</a></li>
                            <li><a asp-area="Judge" asp-controller="Dashboard" asp-action="Language">Languages</a></li>
                            <li><a asp-area="Account" asp-controller="Administration" asp-action="List">Users</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="ml-2 text-left">During contest</h5>
                        <ul>
                            <li><a asp-action="Auditlog">Audit log</a></li>
                            <li><a asp-action="Statistics">Statistics / Analysis</a></li>
                            <li><a asp-action="RefreshCache" data-target="refresh" data-toggle="ajaxWindow">Refresh scoreboard cache</a></li>
                            <li><a asp-action="Rejudging">Rejudgings</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card mb-3">
            <div class="card-header">
                Jury members
                @if (User.IsInRole("Administrator"))
                {
                    <a class="float-right text-reset" asp-action="Assign" data-toggle="ajaxWindow" data-target="assign"><i class="fas fa-plus"></i></a>
                }
            </div>
            <div class="card-body">
                <table class="table data-table table-sm table-striped table-hover mb-0">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Nick Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var u in users)
                        {
                            <tr asp-area="Account" asp-controller="Profile" asp-action="View" asp-route-uid="@u.Id" data-toggle="gotoUrl">
                                <td use-a>u@(u.Id)</td>
                                <td use-a>@u.UserName</td>
                                <td use-a>@u.NickName</td>
                                <td>
                                    @if (User.IsInRole("Administrator"))
                                    {
                                        <a asp-action="Unassign" asp-route-uid="@u.Id" data-toggle="ajaxWindow" data-target="unassign"><i class="fas fa-trash-alt"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                Problems
            </div>
            <div class="card-body">
                <table class="table table-responsive data-table table-sm table-striped table-hover mb-0 d-lg-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>~</th>
                            <th>Name</th>
                            <th>submit?</th>
                            <th>judge?</th>
                            <th>Color</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var prob in Model.Problem)
                        {
                            <tr asp-area="Judge" asp-controller="Problem" asp-action="Edit" asp-route-pid="@prob.ProblemId" data-toggle="gotoUrl">
                                <td use-a>p@(prob.ProblemId)</td>
                                <td use-a>@prob.ShortName</td>
                                <td use-a>@prob.Title</td>
                                <td use-a>@(prob.AllowSubmit ? "Yes" : "No")</td>
                                <td use-a>@(prob.AllowJudge ? "Yes" : "No")</td>
                                <td use-a title="@prob.Color">
                                    <div class="circle" style="background-color: @prob.Color"></div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
