@inject UserManager UserManager
@{
    ViewData["Title"] = "Jury";
    Contest ctx = ViewBag.Contest;
    var state = ctx.GetState();
    var users = await UserManager.GetUsersInRoleAsync("JuryOfContest" + ctx.ContestId);
    ContestProblem[] probs = ViewBag.Problems;
}

<div class="mt-2 mb-2">
    <h1 class="mt-0 d-inline mb-0 mr-1">
        Contest
        <span style="font-variant:small-caps;">
            @ctx.ShortName
        </span>
    </h1>
    <a asp-action="Edit" class="btn btn-outline-primary btn-sm"><i class="fas fa-edit"></i> Edit</a>
    <a asp-action="Description" class="btn btn-outline-info btn-sm"><i class="fab fa-markdown"></i> Description</a>
</div>

<h4 class="text-left mb-3">@ctx.Name</h4>

<style>
    .other-table td { padding: 4px 2px 2px 4px; }
</style>

<div class="row">
    <div class="col-lg-6">
        <div class="card mb-3">
            <div class="card-header">
                Time
            </div>
            <div class="card-body">
                <form method="post">
                    <table class="table table-hover mb-0">
                        <tbody>
                            <tr>
                                <td><i class="fas fa-@((int)state >= 2 ? "check" : "")"></i></td>
                                <td><b>Start time:</b></td>
                                <td><difftime show-time="ctx.StartTime" null-value="not scheduled" /></td>
                                <td>
                                    <if cond="@(state == ContestState.ScheduledToStart)">
                                        <button asp-action="ChangeState" asp-route-target="startnow" class="btn btn-sm btn-primary">start now</button>
                                        <button asp-action="ChangeState" asp-route-target="delay" class="mt-1 mt-md-0 btn btn-sm btn-primary">delay</button>
                                    </if>
                                    <if cond="@(state == ContestState.NotScheduled)">
                                        <button asp-action="ChangeState" asp-route-target="startnow" class="btn btn-sm btn-primary">start now</button>
                                    </if>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-@(ctx.FreezeTime.HasValue && (int)state >= 3 ? "check" : "")"></i></td>
                                <td><b>Freeze time:</b></td>
                                <td><difftime show-time="ctx.FreezeTime" /></td>
                                <td>
                                    <if cond="@(state == ContestState.Started)">
                                        <button asp-action="ChangeState" asp-route-target="freeze" class="btn btn-sm btn-primary">freeze now</button>
                                    </if>
                                </td>
                            </tr>
                            <tr>
                                <td class=""><i class="fas fa-@(ctx.EndTime.HasValue && (int)state >= 4 ? "check" : "")"></i></td>
                                <td class=""><b>End time:</b></td>
                                <td><difftime show-time="ctx.EndTime" /></td>
                                <td>
                                    <if cond="@(state == ContestState.Started || state == ContestState.Frozen)">
                                        <button asp-action="ChangeState" asp-route-target="endnow" class="btn btn-sm btn-primary">end now</button>
                                    </if>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-@(ctx.UnfreezeTime.HasValue && (int)state >= 5 ? "check" : "")"></i></td>
                                <td><b>Unfreeze time:</b></td>
                                <td><difftime show-time="ctx.UnfreezeTime" /></td>
                                <td>
                                    <if cond="@(state == ContestState.Ended)">
                                        <button asp-action="ChangeState" asp-route-target="unfreeze" class="btn btn-sm btn-primary">unfreeze now</button>
                                    </if>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                Utilities
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="ml-2 text-left">Infrastructures</h5>
                        <ul>
                            <li><a asp-area="Dashboard" asp-controller="Executables" asp-action="List">Executables</a></li>
                            <li><a asp-area="Dashboard" asp-controller="Judgehosts" asp-action="List">Judgehosts</a></li>
                            <li><a asp-area="Dashboard" asp-controller="InternalErrors" asp-action="List">Internal Errors</a></li>
                            <li><a asp-area="Dashboard" asp-controller="Languages" asp-action="List">Languages</a></li>
                            <li><a asp-controller="Teams" asp-action="List">Teams</a></li>
                            <li><a asp-area="Dashboard" asp-controller="Categories" asp-action="List">Team Categories</a></li>
                            <li><a asp-area="Dashboard" asp-controller="Affiliations" asp-action="List">Team Affiliations</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="ml-2 text-left">During contest</h5>
                        <ul>
                            <if cond="ctx.BalloonAvaliable">
                                <li><a asp-action="Balloon">Balloon status</a></li>
                            </if>
                            <if cond="ctx.PrintingAvaliable">
                                <li><a asp-controller="Printings" asp-action="List">Printing status</a></li>
                                <li><a asp-action="Print">Print</a></li>
                            </if>
                            <li><a asp-controller="Rejudgings" asp-action="List">Rejudgings</a></li>
                            <li><a asp-action="Statistics">Statistics/Analysis</a></li>
                            <li><a asp-action="ResetEventFeed" data-target="refresh" data-toggle="ajaxWindow">Reset event feed</a></li>
                            <li><a asp-action="RefreshCache" data-target="refresh" data-toggle="ajaxWindow">Refresh scoreboard cache</a></li>
                            <li><a asp-action="GenerateStatement">Statement TeX</a></li>
                            <li><a asp-action="Auditlog">Audit log</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card mb-3">
            <div class="card-header">
                Problems
            </div>
            <div class="card-body">
                <table class="table data-table table-sm table-striped table-hover mb-0 d-lg-table other-table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">name</th>
                            <th scope="col">submit?</th>
                            <th scope="col">judge?</th>
                            <th></th>
                            <th><a class="text-reset" asp-controller="Problems" asp-action="Add" data-toggle="ajaxWindow" data-target="addProb"><i class="fas fa-plus"></i></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var prob in probs)
                        {
                            <tr asp-area="Polygon" asp-controller="Editor" asp-action="Overview" asp-route-pid="@prob.ProblemId" data-toggle="gotoUrl">
                                <td use-a>p@(prob.ProblemId)</td>
                                <td use-a><div class="circle" style="background-color: @prob.Color"></div> <span class="text-monospace">@prob.ShortName</span> - @prob.Title</td>
                                <td use-a>@(prob.AllowSubmit ? "Yes" : "No")</td>
                                <td use-a>@(prob.AllowJudge ? "Yes" : "No")</td>
                                <td><a asp-controller="Problems" asp-action="Edit" asp-route-pid="@prob.ProblemId" data-toggle="ajaxWindow" data-target="editProb"><i class="fas fa-edit"></i></a></td>
                                <td><a asp-controller="Problems" asp-action="Delete" asp-route-pid="@prob.ProblemId" data-toggle="ajaxWindow" data-target="deleteProb"><i class="fas fa-trash-alt"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                Jury members
            </div>
            <div class="card-body">
                <table class="table data-table table-sm table-striped table-hover mb-0">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Nick Name</th>
                            <th>
                                <viewmodule roles="Administrator">
                                    <a class="text-reset" asp-action="Assign" data-toggle="ajaxWindow" data-target="assign"><i class="fas fa-plus"></i></a>
                                </viewmodule>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var u in users)
                        {
                            <tr asp-area="Account" asp-controller="Profile" asp-action="Show" asp-route-username="@u.UserName" data-toggle="gotoUrl">
                                <td use-a>u@(u.Id)</td>
                                <td use-a>@u.UserName</td>
                                <td use-a>@u.NickName</td>
                                <td>
                                    <viewmodule roles="Administrator">
                                        <a asp-action="Unassign" asp-route-uid="@u.Id" data-toggle="ajaxWindow" data-target="unassign"><i class="fas fa-trash-alt"></i></a>
                                    </viewmodule>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
