@{
    ViewData["Title"] = "View User";
    User user = ViewBag.User;
    IEnumerable<SubmissionStatistics> stat = ViewBag.Stat;
}
@inject UserManager UserManager

<h4>Statistics</h4>
<table>
    <tr>
        <th style="width:12em">Problems Submitted</th>
        <td>@stat.Count()</td>
    </tr>
    <tr>
        <th>Problems Solved</th>
        <td>@stat.Count(s => s.AcceptedSubmission > 0)</td>
    </tr>
    <tr>
        <th><a>Submissions</a></th>
        <td>@stat.Sum(s => s.TotalSubmission)</td>
    </tr>
    <tr>
        <th><a>Accepted</a></th>
        <td>@stat.Sum(s => s.AcceptedSubmission)</td>
    </tr>
</table>

<h4 class="mt-3">List of solved problems</h4>
@foreach (var prob in stat.Where(p => p.AcceptedSubmission > 0))
{
    <div class="mr-1 d-inline-block">
        <a asp-area="Misc" asp-controller="Problem" asp-action="View" asp-route-pid="@prob.ProblemId">@prob.ProblemId</a>
        <small class="text-danger">@prob.AcceptedSubmission/@prob.TotalSubmission</small>
    </div>
}

<h4 class="mt-3">List of unsolved problems</h4>
@foreach (var prob in stat.Where(p => p.AcceptedSubmission == 0))
{
    <div class="mr-1 d-inline-block">
        <a asp-area="Misc" asp-controller="Problem" asp-action="View" asp-route-pid="@prob.ProblemId">@prob.ProblemId</a>
        <small class="text-danger mr-1">@prob.AcceptedSubmission/@prob.TotalSubmission</small>
    </div>
}

<if cond="UserManager.GetUserName(User) == user.UserName">
    <p class="mb-0 mt-3">
        <a asp-action="Edit" class="btn btn-primary">Edit profile</a>
        <a asp-action="ChangePassword" class="btn btn-secondary">Change password</a>
        <a asp-action="StudentVerify" class="btn btn-info">Student verify</a>
    </p>
</if>
