@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavascriptSnippet
@addTagHelper *, JudgeWeb.Features.AspNetCore

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - @ViewData["BigTitle"]</title>
    <meta name="viewport" content="initial-scale=1, user-scalable=no">
    @JavascriptSnippet.FullScript
    <!-- jQuery and Bootstrap --><script src="~/static/js/jquery.min.js"></script><link rel="stylesheet" href="~/static/css/bootstrap.min.css" /><script src="~/static/js/bootstrap.bundle.min.js"></script><link rel="stylesheet" href="~/static/css/fontawesome.min.css" />
    <!-- DOMjudge style and scripts --><link rel="stylesheet" href="~/static/site/domjudge.css" /><script src="~/static/site/domjudge.js"></script><script src="~/static/site/xylab.js"></script>
    <!-- datatables --><link rel="stylesheet" href="~/static/css/dataTables.bootstrap4.min.css"><script src="~/static/js/jquery.dataTables.min.js"></script><script src="~/static/js/dataTables.bootstrap4.min.js"></script>
    <!-- nvd3 --><link rel="stylesheet" href="~/static/chart/nv.d3.min.css" /><script src="~/static/chart/d3.min.js"></script><script src="~/static/chart/nv.d3.min.js"></script>
    <razor asp-viewdata-key="AceEditor"><!-- ace editor --><script src="~/static/ace/ace.js"></script><script src="~/static/ace/ext-modelist.js"></script></razor>
    <razor asp-viewdata-key="CompactMode">
        <!-- compact for old styles -->
        <style type="text/css">
            body {
                padding-bottom: 0;
                padding-top: 3.5rem;
            }

            @@media all and (min-width:768px) {
                body { padding-top: 3.5rem; }
            }
        </style>
    </razor>
</head>

<body>
    <div id="append-parent"></div>
    <!-- #header start -->
    @{ var theme = ViewData.ContainsKey("UseLightTheme") ? "light" : "dark"; }
    <nav class="navbar navbar-expand-md navbar-@theme bg-@theme fixed-top">
        <partial name="_NavLogo" />

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuDefault"
                aria-controls="menuDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menuDefault" data-update-url="@ViewData["AjaxUpdateUrl"]">
            <partial name="_NavLinks" />
            @RenderSection("Clocking", required: false)
        </div>
    </nav>
    <!-- #content start -->
    @RenderSection("Banner", required: false)
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
                @RenderSection("Header", required: false)
                @if (!ViewData.ContainsKey("RefreshSpan"))
                {
                    @RenderBody()
                }
                else
                {
                    <div data-ajax-refresh-target data-ajax-refresh-after="@ViewData["RefreshAfter"]" data-ajax-refresh-before="@ViewData["RefreshBefore"]" class="@ViewData["DataAjaxClass"]">
                        @RenderBody()
                    </div>
                }
                @RenderSection("Footer", required: false)
            </div>
        </div>
    </div>
    @RenderSection("BannerFooter", required: false)
    <!-- #content end -->
    <div id="ajax_append"></div>
    <aside class="col-md-4 col-xl-3 pb-3" id="notification-box"></aside>

    <script asp-viewdata-key="RefreshSpan">
        $(function () {
            /* toggle refresh if set */
            $('#refresh-navitem').on('click', function() {
                toggleRefresh('@Html.Raw(ViewData["RefreshUrl"])', @ViewData["RefreshSpan"], 1);
            });

            /* Enable page refresh if set if wanted by the page, and wanted by the user */
            enableRefresh('@Html.Raw(ViewData["RefreshUrl"])', @ViewData["RefreshSpan"], 1);
        });
    </script>

    <script asp-viewdata-key="AjaxUpdateUrl">
        $(function () {
            updateMenuAlerts();
            setInterval(updateMenuAlerts, 20000);
        });
    </script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
