@model IEnumerable<ExecutableInfoModel>

@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid mt-4 mb-4 pl-4 pr-4">
    <h2>Executables</h2>
    <h5 class="mb-3">Table for DOMjudge executables, or <a asp-action="Executable" data-toggle="ajaxWindow" data-target="upload">upload</a></h5>
    <table class="mt-3 data-table table table-sm table-striped dataTable no-footer" role="grid" style="width:auto">
        <thead>
            <tr role="row">
                <th title="Executable ID" scope="col">ID</th>
                <th title="Type" scope="col">type</th>
                <th title="Description" scope="col">description</th>
                <th title="File Size" scope="col">size</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exec in Model)
            {
                <tr role="row">
                    <td class="pr-2"><a class="text-dark" asp-action="Executable" asp-route-target="@exec.ExecId">@exec.ExecId</a></td>
                    <td class="pr-2">@exec.Type</td>
                    <td class="pr-2">@exec.Description</td>
                    <td>@Html.NiceByteSize(exec.ZipLength)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
