@{
    ViewData["Title"] = "Judge Host";
    JudgeHost host = ViewBag.Host;
    IEnumerable<(Judging g, IEnumerable<Detail> d, int s)> judgings = ViewBag.Judgings;
}

<div class="container-fluid mt-4 mb-4 pl-4 pr-4">
    <h2>Judgehost #@host.ServerId</h2>
    <h5 class="mb-3">Details about @host.ServerName @(host.Active ? "(active)" : "(inactive)")</h5>
    <p>Last check: @host.PollTime, total tests: @ViewData["Count"], showing top 100.</p>
    <table class="data-table table table-sm table-striped dataTable no-footer" role="grid" style="width:auto">
        <thead>
            <tr role="row">
                <th scope="col">ID</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">verdict</th>
                <th scope="col">time</th>
                <th scope="col">memory</th>
                <th scope="col">details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (g, d, s) in judgings)
            {
                <tr role="row">
                    <td>j@(g.JudgingId)</td>
                    <td>s@(s)</td>
                    <td><a asp-controller="Status" asp-action="View" asp-route-id="@s" asp-route-gid="@g.JudgingId" class="bowtie"><i class="bowtie-file-symlink"></i></a></td>
                    <td></td>
                    <td><verdict target="StatusText" value="@g.Status" /></td>
                    <td>@(g.ExecuteTime)ms</td>
                    <td>@(g.ExecuteMemory)kb</td>
                    <td>
                        @foreach (var dets in d)
                        {
                            <a title="Test @dets.TestId: @(dets.Status), @(dets.ExecuteTime)ms, @(dets.ExecuteMemory)K." style="font-size:1rem"><verdict target="BadgeSmall" value="dets.Status" /></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
