@{
    ViewData["Title"] = "Language";
    Language lang = ViewBag.Language;
    IEnumerable<(Submission s, Judging g)> subs = ViewBag.Submissions;
}

<div class="container-fluid mt-4 mb-4 pl-4 pr-4">
    <h2>Language @lang.ExternalId</h2>
    <h5 class="mb-3">Submissions using @lang.Name @(lang.AllowSubmit ? "(active)" : "(inactive)")</h5>
    <table class="data-table table table-sm table-striped dataTable no-footer" role="grid" style="width:auto">
        <thead>
            <tr role="row">
                <th scope="col">ID</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">verdict</th>
                <th scope="col">time</th>
                <th scope="col">memory</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (sub, grade) in subs)
            {
                <tr role="row">
                    <td>s@(sub.SubmissionId)</td>
                    <td><a asp-controller="Status" asp-action="View" asp-route-id="@sub.SubmissionId" class="bowtie"><i class="bowtie-file-symlink"></i></a></td>
                    <td></td>
                    <td><verdict target="StatusText" value="@grade.Status" /></td>
                    <td>@(grade.ExecuteTime)ms</td>
                    <td>@(grade.ExecuteMemory)kb</td>
                </tr>
            }
        </tbody>
    </table>
</div>
