@model IEnumerable<Language>
@{
    ViewData["Title"] = "Dashboard";
    IEnumerable<(int Key, int Count)> stats = ViewBag.Statistics;
}

<div class="container-fluid mt-4 mb-4 pl-4 pr-4">
    <h2>Languages</h2>
    <h5 class="mb-3">Table for DOMjudge languages</h5>
    <div class="row">
        <div class="col-12 col-md-6">
            <table class="data-table table table-sm table-striped dataTable no-footer" role="grid">
                <thead>
                    <tr role="row">
                        <th title="Internal ID" scope="col">ID</th>
                        <th title="External ID" scope="col">extID</th>
                        <th title="Language Name" scope="col">name</th>
                        <th title="Allow Submit" scope="col">submit?</th>
                        <th title="Allow Judge" scope="col">judge?</th>
                        <th title="Time Factor" scope="col">time</th>
                        <th title="File Extension" scope="col">ext</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var lang in Model)
                    {
                        var langType = lang.AllowSubmit ? "1.0" : "0.3";
                        <tr role="row" style="color:rgba(0,0,0,@langType)">
                            <td>@lang.LangId</td>
                            <td><a style="color:rgba(0,0,0,@langType)" asp-action="Language" asp-route-extid="@lang.ExternalId">@lang.ExternalId</a></td>
                            <td>@lang.Name</td>
                            <td><a class="btn btn-sm btn-outline-secondary pt-0 pb-0 pl-1 pr-1" asp-action="Toggle" asp-route-as="@lang.ExternalId">@(lang.AllowSubmit ? "yes" : "no")</a></td>
                            <td><a class="btn btn-sm btn-outline-secondary pt-0 pb-0 pl-1 pr-1" asp-action="Toggle" asp-route-aj="@lang.ExternalId">@(lang.AllowJudge ? "yes" : "no")</a></td>
                            <td>@(lang.TimeFactor)&times;</td>
                            <td>@lang.FileExtension</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-6">
            <div id="canvas-holder" style="width:22em;height:20em">
                <canvas id="chart-area" style="width:22em;height:20em"></canvas>
            </div>
        </div>
    </div>
</div>


<script>

    @{
        var colors = new[]
        {
	        "rgb(0, 0, 0)",
	        "rgb(85, 85, 85)",
	        "rgb(243, 75, 125)",
	        "rgb(176, 114, 25)",
	        "rgb(0, 180, 171)",
	        "rgb(53, 114, 165)",
	        "rgb(227, 241, 113)",
	        "rgb(23, 134, 0)",
	        "rgb(241, 142, 51)",
	        "rgb(94, 80, 134)",
	        "rgb(2, 152, 195)",
	        "rgb(77, 65, 177)",
        };
    }

    var config = {
	    type: 'pie',
	    data: {
		    datasets: [{
                data: [
                    @foreach (var stat in stats)
                    {
                        @Html.Raw("'" + stat.Count + "',")
                    }
			    ],
                backgroundColor: [
                    @foreach (var stat in stats)
                    {
                        @Html.Raw("'" + colors[stat.Key] + "',")
                    }
                ],
			    label: 'Language Distributing'
		    }],
            labels: [
                @foreach (var stat in stats)
                {
                    @Html.Raw("'" + Model.Where(m => m.LangId == stat.Key).First().Name + "',")
                }
		    ]
	    },
	    options: {
            responsive: true,
            legend: {
                position: 'right',
                labels: {
                    usePointStyle: true
                }
            }
        },
    };

    $(function () {
	    var ctx = document.getElementById('chart-area').getContext('2d');
	    window.myPie = new Chart(ctx, config);
    });
</script>
