@model IEnumerable<ListSubmissionModel>
@{
    ViewData["Title"] = "Submissions";
    ViewData["DisableAjaxRefresh"] = true;
    List<Testcase> tc = ViewBag.Testcase;
    int curPage = ViewBag.Page;
    int totPage = ViewBag.TotalPage;
    bool showAll = ViewBag.AllSub;
}

<h2 class="mt-2">Submissions</h2>

<div class="d-none" id="paging">
    <partial name="_Pagination" model="(curPage, totPage)" />
</div>

<div class="table-wrapper">
    <table class="data-table table table-sm table-striped" style="width:auto">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sortable searchable">ID</th>
                <th scope="col" class="sortable searchable">time</th>
                <th scope="col" class="sortable searchable">expected</th>
                <th scope="col" class="sortable searchable">user</th>
                <th scope="col" class="sortable searchable">lang</th>
                <th scope="col" class="sortable searchable">run</th>
                <th scope="col" class="sortable searchable">result</th>
                <th scope="col">test results</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sub in Model)
            {
                <tr asp-action="Detail" asp-route-sid="@sub.SubmissionId" data-toggle="gotoUrl">
                    <td use-a>s@(sub.SubmissionId)</td>
                    <td use-a>@Html.CstTime(sub.Time)</td>
                    <td use-a><verdict value="sub.Expected" target="DomJudge" /></td>
                    <td use-a>@sub.UserName</td>
                    <td use-a class="langid">@sub.Language</td>
                    <td use-a>@(sub.ExecutionTime)ms</td>
                    <td use-a><verdict value="sub.Result" target="DomJudge" /></td>
                    <td class="testcase-results">
                        @{
                            int t = 0;
                            bool jp = sub.Result == Verdict.Pending || sub.Result == Verdict.Running;
                            foreach (var item in tc)
                            {
                                t++;
                                if (sub.Details.TryGetValue(item.TestcaseId, out var de))
                                {<verdict target="BadgeSmall" value="de.Result" tooltip="#@item.Rank, desc: @item.Description, runtime: @(de.ExecutionTime)ms." />}
                                else
                                {<verdict target="BadgeSmall" value="Verdict.Pending" judging-pending="jp" tooltip="#@item.Rank, desc: @item.Description, not used." />}
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>
    <a asp-action="Submit" data-toggle="ajaxWindow" data-target="submitCode" class="btn btn-info"><i class="fas fa-cloud-upload-alt"></i>&nbsp;Submit</a>
</p>

<script>
    $().ready(function () {
        $('.data-table').DataTable({
            "paging": false,
            "searching": true,
            "ordering": true,
            "order": [[2, 'asc']],
            "info": false,
            "autoWidth": true,
            "language": {
                "searchPlaceholder": "filter table",
                "search": "_INPUT_",
            },
            'aoColumnDefs': [
                { aTargets: ['sortable'], bSortable: true },
                { aTargets: ['searchable'], bSearchable: true },
                { aTargets: ['_all'], bSortable: false, bSearchable: false }
            ],
        });

        $('[data-toggle="tooltip"]').tooltip();
        $('.dataTables_wrapper .row:first-child .col-md-6:first-child').html($('#paging').html());
        $('.dataTables_wrapper .pagination-sm').addClass('mb-0');
    });
</script>
