@using JudgeWeb.Domains.Problems
@model ContestProblem
@{
    IEnumerable<ListSubmissionModel> submissions = ViewBag.Submissions;
    ViewData["Title"] = "Problem " + Model.Title;
    Contest ctx = ViewBag.Contest;
    int correct = 0, total = 0;
    Dictionary<int, string> tn = ViewBag.TeamNames;
}

<h2 class="mt-2">Problem @Model.Title</h2>

<div class="row">
    <div class="col-lg-4">
        <table class="table table-sm table-striped">
            <tr>
                <th>ID</th>
                <td>p@(Model.ProblemId)</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>@Model.Title</td>
            </tr>
            <tr>
                <th>Shortname</th>
                <td><div class="circle" style="background:@Model.Color;"></div> <span class="text-monospace">@Model.ShortName</span></td>
            </tr>
            <tr>
                <th>Testcases</th>
                <td>
                    @Model.TestcaseCount
                    <a href="/polygon/@Model.ProblemId/testcases">details / edit</a>
                </td>
            </tr>
            <tr>
                <th>Timelimit</th>
                <td>@(Model.TimeLimit / 1000.0) sec</td>
            </tr>
            <tr>
                <th>Memory limit</th>
                <td>
                    @(Model.MemoryLimit) kB
                    @if (Model.MemoryLimit == 524288)
                    {@("(default)")}
                </td>
            </tr>
            <tr>
                <th>Problem text</th>
                <td>
                    <a href="/polygon/@Model.ProblemId/description/preview">
                        <i title="view problem description"
                           class="fas fa-file-pdf"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <th>Allow submit</th>
                <td>@(Model.AllowSubmit ? "Yes" : "No")</td>
            </tr>
            <tr>
                <th>Allow judge</th>
                <td>@(Model.AllowJudge ? "Yes" : "No")</td>
            </tr>
        </table>
    </div>
</div>

<p>
    <a asp-action="Edit" asp-route-pid="@Model.ProblemId" data-toggle="ajaxWindow" data-target="editProb" class="btn btn-primary" title="Edit"><i class="fas fa-edit"></i>&nbsp;Edit</a>
    <a asp-action="Delete" asp-route-pid="@Model.ProblemId" data-toggle="ajaxWindow" data-target="deleteProb" class="btn btn-danger" title="Delete"><i class="fas fa-trash-alt"></i>&nbsp;Delete</a>
    <a asp-area="Polygon" asp-controller="Editor" asp-action="Overview" asp-route-pid="@Model.ProblemId" class="btn btn-success" title="Polygon"><i class="fas fa-book-open"></i>&nbsp;Polygon</a>
</p>

<h3 class="mt-3">Submissions</h3>
<table class="data-table table table-hover table-striped table-sm submissions-table">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">time</th>
            <th scope="col">team</th>
            <th scope="col">lang</th>
            <th scope="col">result</th>
            <th scope="col" class="not-sortable not-searchable">test results</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sub in submissions)
        {
            var tooLate = (ctx.EndTime ?? DateTimeOffset.MaxValue) < sub.Time;
            if (sub.Verdict == Verdict.Accepted) { correct++; }
            total++;
            <tr asp-controller="Submissions" asp-action="Detail" asp-route-sid="@sub.SubmissionId"
                data-toggle="gotoUrl"
                data-team-id="@sub.AuthorId"
                data-language-id="@sub.Language"
                data-submission-id="@sub.SubmissionId">
                <td use-a>s@(sub.SubmissionId)</td>
                <td use-a>@sub.Time.ToString("HH:mm")</td>
                <td use-a>@tn.GetValueOrDefault(sub.AuthorId) (t@(sub.AuthorId))</td>
                <td use-a class="langid">@sub.Language</td>
                <td use-a>
                    <verdict3 value="@sub.Verdict" too-late="tooLate" />
                    <if cond="tooLate"> (<verdict3 value="@sub.Verdict" />)</if>
                </td>
                <td class="testcase-results">
                    @{ int t = 0; foreach (var item in sub.Details) { t++;<verdict6 value="@item.Status" />}@for (; t < Model.TestcaseCount; t++) {<verdict6 value="Pending" judging-pending="@(sub.Verdict == Verdict.Pending || sub.Verdict == Verdict.Running)" />}}
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    Total correct: @correct, submitted: @total.
</p>

<style>

    .data-table td a, .data-table td a:hover {
        display: block;
        text-decoration: none;
        color: inherit;
    }

    .data-table th {
        white-space: nowrap;
    }

    .data-table td {
        white-space: nowrap;
    }

    .dataTables_filter {
        text-align: inherit;
    }

    .table-wrapper {
        display: inline-block;
    }
</style>
