@using JudgeWeb.Domains.Problems
@model SingleBoardViewModel
@{
    var team = Model.QueryInfo;
    var org = Model.Category;
    var aff = Model.Affiliation;
    IEnumerable<ListSubmissionModel> submissions = ViewBag.Submissions;
    ViewData["Title"] = "Team " + team.TeamId;
    Contest ctx = ViewBag.Contest;
    IEnumerable<string> members = ViewBag.Member;
    ContestProblem[] cps = ViewBag.Problems;
    int correct = 0, total = 0;
}

<h2 class="mt-2">Team @team.TeamName</h2>

<div class="row">
    <div class="col-lg-4">
        <table class="table table-sm table-striped">
            <tr>
                <th>ID</th>
                <td>@team.TeamId</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>@team.TeamName</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>
                    @org.Name
                </td>
            </tr>
            <tr>
                <th>Affiliation</th>
                <td>
                    <img src="~/images/affiliations/@(aff.ExternalId).png"
                         title="@aff.ExternalId" class="affiliation-logo" />
                    @aff.FormalName
                </td>
            </tr>
            <tr>
                <th>Status</th>
                <td><verdict0 type="TeamStatus" value="@team.Status" /></td>
            </tr>
            <tr asp-show-if="members.Any()">
                <th>User</th>
                <td>
                    @foreach (var item in members)
                    {
                        <a asp-area="Account" asp-controller="Profile" asp-action="Show" asp-route-username="@item">@item</a>
                    }
                </td>
            </tr>
        </table>
    </div>
</div>

<p>
    <a asp-action="Edit" asp-route-teamid="@team.TeamId" data-toggle="ajaxWindow" data-target="editTeam" class="btn btn-primary" title="Edit"><i class="fas fa-edit"></i>&nbsp;Edit</a>
    <a asp-action="Delete" asp-route-teamid="@team.TeamId" data-toggle="ajaxWindow" data-target="deleteTeam" class="btn btn-danger" title="Delete"><i class="fas fa-trash-alt"></i>&nbsp;Delete</a>
    <a asp-controller="Clarifications" asp-action="Send" asp-route-teamto="@team.TeamId" class="btn btn-secondary" title="Send message"><i class="fas fa-envelope"></i>&nbsp;Send message</a>
</p>

<h3>Score</h3>
<scoreboard model="Model" />

<h3 class="mt-3">Submissions</h3>
<table class="data-table table table-hover table-striped table-sm submissions-table">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">time</th>
            <th scope="col">problem</th>
            <th scope="col">lang</th>
            <th scope="col">result</th>
            <th scope="col" class="not-sortable not-searchable">test results</th>
            <th scope="col">ip</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sub in submissions)
        {
            var tooLate = (ctx.EndTime ?? DateTimeOffset.MaxValue) < sub.Time;
            if (sub.Verdict == Verdict.Accepted) { correct++; }
            var prob = cps.FirstOrDefault(cp => cp.ProblemId == sub.ProblemId);
            total++;
            <tr asp-controller="Submissions" asp-action="Detail" asp-route-sid="@sub.SubmissionId"
                data-toggle="gotoUrl"
                data-problem-id="@sub.ProblemId"
                data-team-id="@sub.AuthorId"
                data-language-id="@sub.Language"
                data-submission-id="@sub.SubmissionId">
                <td use-a>s@(sub.SubmissionId)</td>
                <td use-a>@sub.Time.ToString("HH:mm")</td>
                <td use-a class="probid">@prob?.ShortName</td>
                <td use-a class="langid">@sub.Language</td>
                <td use-a>
                    <verdict3 value="@sub.Verdict" too-late="tooLate" />
                    <razor asp-show-if="tooLate"> (<verdict3 value="@sub.Verdict" />)</razor>
                </td>
                <td class="testcase-results">
                    @{ int t = 0; foreach (var item in sub.Details) { t++;<verdict6 value="@item.Status" />}@for (; t < (prob?.TestcaseCount ?? 1); t++) {<verdict6 value="Pending" judging-pending="@(sub.Verdict == Verdict.Pending || sub.Verdict == Verdict.Running)" />}}
                </td>
                <td use-a>@sub.Ip</td>
            </tr>
        }
    </tbody>
</table>

<p>
    Total correct: @correct, submitted: @total.
</p>

<style>

    .data-table td a, .data-table td a:hover {
        display: block;
        text-decoration: none;
        color: inherit;
    }

    .data-table th {
        white-space: nowrap;
    }

    .data-table td {
        white-space: nowrap;
    }

    .dataTables_filter {
        text-align: inherit;
    }

    .table-wrapper {
        display: inline-block;
    }
</style>
