@model IEnumerable<JuryListTeamModel>
@{
    ViewData["Title"] = "Teams";
}

<h2 class="mt-2">@ViewData["Title"]</h2>

<div class="table-wrapper">
    <table class="data-table table table-sm table-striped" style="width:auto">
        <thead class="">
            <tr>
                <th scope="col" class="sortable searchable">ID</th>
                <th scope="col" class="sortable searchable">teamname</th>
                <th scope="col" class="sortable searchable">category</th>
                <th scope="col" class="sortable searchable">affiliation</th>
                <th scope="col" class="sortable searchable">status</th>
                <th scope="col" class="sortable searchable">register time</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in Model)
            {
                <tr asp-action="Detail" asp-route-teamid="@team.TeamId" data-toggle="gotoUrl">
                    <td use-a>@team.TeamId</td>
                    <td use-a class="force-width">@team.TeamName</td>
                    <td use-a>@team.Category</td>
                    <td use-a class="text-variant" title="@team.AffiliationName">@team.Affiliation</td>
                    <td use-a><verdict0 type="TeamStatus" value="@team.Status" /></td>
                    <td use-a>@Html.CstTime(team.RegisterTime)</td>
                    <td><a asp-route-teamid="@team.TeamId" asp-action="Edit" data-toggle="ajaxWindow" data-target="editTeam" title="edit this team"><i class="fas fa-edit"></i></a></td>
                    <td><a asp-route-teamid="@team.TeamId" asp-action="Delete" data-toggle="ajaxWindow" data-target="deleteTeam" title="delete this team"><i class="fas fa-trash-alt"></i></a></td>
                    <td><a asp-controller="Clarifications" asp-action="Send" asp-route-teamto="@team.TeamId" title="send clarification to this team"><i class="fas fa-envelope"></i></a></td>
                    <td><a asp-route-teamid="@team.TeamId" asp-action="Accept" data-toggle="ajaxWindow" data-target="acceptTeam" title="accept this team"><i class="fas fa-thumbs-up"></i></a></td>
                    <td><a asp-route-teamid="@team.TeamId" asp-action="Reject" data-toggle="ajaxWindow" data-target="rejectTeam" title="reject this team"><i class="fas fa-thumbs-down"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $().ready(function () {
        $('.data-table').DataTable({
            "paging": true,
            "pageLength": 25,
            "searching": true,
            "ordering": true,
            "order": [[0, 'desc']],
            "info": false,
            "autoWidth": true,
            "language": {
                "searchPlaceholder": "filter table",
                "search": "_INPUT_",
            },
            'aoColumnDefs': [
                { aTargets: ['sortable'], bSortable: true },
                { aTargets: ['searchable'], bSearchable: true },
                { aTargets: ['_all'], bSortable: false, bSearchable: false }
            ],
        });
    });
</script>

<div>
    <div class="btn-group">
        <a asp-action="Add" data-toggle="ajaxWindow" data-target="addTeam" class="btn btn-primary" title="Add new team">
            <i class="fas fa-plus"></i>&nbsp;Add new team
        </a>
    </div>
    <div class="btn-group dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" title="Import teams" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-file-import"></i>&nbsp;Import teams
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" asp-action="ByList" data-toggle="ajaxWindow" data-target="importTeam"><i class="fas fa-envelope-open-text fa-fw"></i>&nbsp;Batch import</a>
            <a class="dropdown-item" asp-action="ByGroup" data-toggle="ajaxWindow" data-target="importTeam"><i class="fas fa-graduation-cap fa-fw"></i>&nbsp;Add teaching class</a>
            <a class="dropdown-item" asp-in-roles="Administrator" asp-action="LockoutTemporary" data-toggle="ajaxWindow" data-target="importTeam"><i class="fas fa-lock"></i>&nbsp;Lockout temporary users</a>
        </div>
    </div>
</div>
