@model JuryViewTeamModel
@{
    ViewData["Title"] = "Team " + Model.Team.TeamId;
    ViewData["DisableAjaxRefresh"] = true;
}

<h2 class="mt-3">Team @Model.Team.TeamName</h2>

<div class="row">
    <div class="col-lg-4">
        <table class="table table-sm table-striped">
            <tr>
                <th>ID</th>
                <td>@Model.Team.TeamId</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>@Model.Team.TeamName</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>
                    @Model.Category.Name
                </td>
            </tr>
            <tr>
                <th>Affiliation</th>
                <td>
                    <img src="~/images/affiliations/@(Model.Affiliation.ExternalId).png" alt="CCST"
                         title="@Model.Affiliation.ExternalId" class="affiliation-logo" />
                    @Model.Affiliation.FormalName
                </td>
            </tr>
            <tr>
                <th>Status</th>
                <td><verdict team-status="Model.Team.Status" /></td>
            </tr>
        </table>
    </div>
</div>

<p>
    <a asp-action="Edit" asp-route-teamid="@Model.Team.TeamId" data-toggle="ajaxWindow" data-target="editTeam" class="btn btn-primary" title="Edit"><i class="fas fa-edit"></i>&nbsp;Edit</a>
    <a asp-action="Delete" asp-route-teamid="@Model.Team.TeamId" data-toggle="ajaxWindow" data-target="deleteTeam" class="btn btn-danger" title="Delete"><i class="fas fa-trash-alt"></i>&nbsp;Delete</a>
    <a asp-controller="JuryClarification" asp-action="Send" asp-route-teamto="@Model.Team.TeamId" class="btn btn-secondary" title="Send message"><i class="fas fa-envelope"></i>&nbsp;Send message</a>
</p>

<h3>Score</h3>
<partial name="_ScoreBoard" model="Model.TeamScoreboard" />

<h3>Submissions</h3>
<partial name="Submissions" model="Model.Submissions" />
