@model IEnumerable<TeachingClass>
@{
    ViewData["Title"] = "Groups";
    int curPage = ViewBag.Page;
    int totPage = ViewBag.TotalPage;
}

<h2 class="mt-2 mb-3">@ViewData["Title"]</h2>

<div class="d-none" id="paging">
    <partial name="_Pagination" model="(curPage, totPage)" />
</div>

<div class="table-wrapper">
    <table class="data-table table table-sm table-striped" style="width:auto">
        <thead>
            <tr role="row">
                <th scope="col" class="sortable searchable">ID</th>
                <th scope="col" class="sortable searchable">name</th>
                <th scope="col" class="sortable searchable">count</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stu in Model)
            {
                <tr asp-action="Detail" asp-route-gid="@stu.Id" role="row" data-toggle="gotoUrl">
                    <td use-a>@stu.Id</td>
                    <td use-a>@stu.Name</td>
                    <td use-a>@stu.Count</td>
                    <td><a asp-action="Delete" asp-route-gid="@stu.Id" title="delete this group" data-toggle="ajaxWindow" data-target="deleteGroup"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .text-decoration-del { text-decoration: line-through; }
</style>

<script>
    $().ready(function () {
        $('.data-table').DataTable({
            "paging": false,
            "searching": true,
            "ordering": true,
            "order": [[0, 'asc']],
            "info": false,
            "autoWidth": true,
            "language": {
                "searchPlaceholder": "filter table",
                "search": "_INPUT_",
            },
            'aoColumnDefs': [
                { aTargets: ['sortable'], bSortable: true },
                { aTargets: ['searchable'], bSearchable: true },
                { aTargets: ['_all'], bSortable: false, bSearchable: false }
            ],
        });

        $('.dataTables_wrapper .row:first-child .col-md-6:first-child').html($('#paging').html());
        $('.dataTables_wrapper .pagination-sm').addClass('mb-0');
    });
</script>

<p>
    <a asp-action="Create" class="btn btn-primary" data-toggle="ajaxWindow" data-target="createGroup" title="create groups"><i class="fas fa-plus"></i>&nbsp;Create</a>
</p>
