@inject UserManager UserManager
@{
    int ptc = ViewBag.ptc;
    int ucc = ViewBag.ucc;
}

<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" active-act="Home" asp-controller="JuryMain" asp-action="Home">
            <i class="fas fa-home"></i>
            Home
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" active-ctrl="JuryTeam" asp-controller="JuryTeam" asp-action="List" id="menu_teams">
            <i class="fas fa-address-book"></i>
            Teams
            <span class="badge badge-warning" id="num-alerts-teams">@(ptc > 0 ? $"{ptc}" : "")</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" active-ctrl="JuryClarification" asp-controller="JuryClarification" asp-action="List" id="menu_clarifications">
            <i class="fas fa-comments"></i>
            Clarifications
            <span class="badge badge-info" id="num-alerts-clarifications">@(ucc > 0 ? $"{ucc}" : "")</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" active-ctrl="JurySubmission" asp-controller="JurySubmission" asp-action="List">
            <i class="fas fa-file-code"></i>
            Submissions
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" active-act="Scoreboard" asp-controller="JuryMain" asp-action="Scoreboard">
            <i class="fas fa-list-ol"></i>
            Scoreboard
        </a>
    </li>

    <viewmodule key="HasTeam">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Team" asp-action="Home">
                <i class="fas fa-arrow-right"></i>
                Team
            </a>
        </li>
    </viewmodule>
</ul>

<script>
    function setUnsolvedTeamCount(n) {
        if (n == 0) {
            $("#menu_teams").removeClass("text-warning");
            $("#num-alerts-teams").hide();
        } else {
            $("#menu_teams").removeClass("text-warning").addClass("text-warning");
            $("#num-alerts-teams").text(n);
            $("#num-alerts-teams").hide().show();
        }
    }

    function setUnsolvedClarificationCount(n) {
        if (n == 0) {
            $("#menu_clarifications").removeClass("text-info");
            $("#num-alerts-clarifications").hide();
        } else {
            $("#menu_clarifications").removeClass("text-info").addClass("text-info");
            $("#num-alerts-clarifications").text(n);
            $("#num-alerts-clarifications").hide().show();
        }
    }
</script>

<ul class="navbar-nav">
    <li class="ajax-loader-container">
        <div class="spinner-border spinner-border-sm ajax-loader" style="display: none;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> @UserManager.GetUserName(User)
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item disabled" href="#">@UserManager.GetNickName(User)</a>

            <a class="dropdown-item d-none" href="#" id="notify_disable">
                <i class="fas fa-bell-slash fa-fw"></i> Disable Notifications
            </a>

            <a class="dropdown-item d-none" href="#" id="notify_enable">
                <i class="fas fa-bell fa-fw"></i> Enable Notifications
            </a>

            <viewmodule key="RefreshSpan">
                <a class="dropdown-item" href="#" id="refresh-navitem">
                    <i class="fas fa-sync-alt fa-fw"></i>
                    <span id="refresh-toggle">
                        Disable Refresh
                    </span>
                    <span class="small text-muted">(@ViewData["RefreshSpan"]s)</span>
                </a>
            </viewmodule>

            <a class="dropdown-item" asp-area="Misc" asp-controller="Home" asp-action="Index">
                <i class="fas fa-sign-out-alt fa-fw"></i> Back to main site
            </a>
        </div>
    </li>
</ul>
