@model TeamScoreModel

<tr class="" id="team:@Model.TeamId">
    <td class="scorepl">
        @(Model.Rank is null ? "?" : Model.ShowRank ? Model.Rank.Value.ToString() : "")
    </td>
    <td class="scoreaf"></td>
    <td class="scoreaf">
        @if (Model.AffiliationId != "null")
        {
            <a>
                <img src="/images/affiliations/@(Model.AffiliationId).png" alt=""
                     title="@(Model.Affiliation)" class="affiliation-logo" />
            </a>
        }
    </td>
    <td class="scoretn cl_@Model.CategoryColor.Substring(1)" title="@Model.TeamName">
        @if (User.IsInRoles("Administrator,JuryOfContest" + ViewData["ContestId"]))
        {
            <a asp-action="Team" asp-route-teamid="@Model.TeamId">
                <span class="forceWidth">
                    @Model.TeamName
                </span>
                <span class="univ forceWidth">
                    @(Model.AffiliationId == "null" ? "" : Model.Affiliation)
                </span>
            </a>
        }
        else
        {
            <a>
                <span class="forceWidth">
                    @Model.TeamName
                </span>
                <span class="univ forceWidth">
                    @(Model.AffiliationId == "null" ? "" : Model.Affiliation)
                </span>
            </a>
        }
    </td>

    <td class="scorenc">@Model.Points</td>
    <td class="scorett">@Model.Penalty</td>

    @foreach (var item in Model.Problems)
    {
        <td class="score_cell">
            @if (item != null && item.PendingCount + item.JudgedCount > 0)
            {
                <a>
                    <div class="@item.StyleClass">
                        @Html.Raw(item.SolveTime.HasValue ? item.SolveTime.Value.ToString() : "&nbsp;")
                        <span>@item.Tries</span>
                    </div>
                </a>
            }
        </td>
    }
</tr>
