@{
    ViewData["Title"] = "About this contest";
    Contest ctx = ViewBag.Contest;
    Team team = ViewBag.Team;
    Dictionary<int, TeamCategory> cats = ViewBag.Categories;
    Dictionary<int, TeamAffiliation> affs = ViewBag.Affiliations;
    string msg = ViewBag.DisplayMessage;
}

<hgroup class="mb-3">
    <h1 class="mt-3">
        Contest
        <span style="font-variant:small-caps;">
            @ctx.ShortName
        </span>
    </h1>
    <h4 class="text-left">@ctx.Name</h4>
</hgroup>

<partial name="_StatusMessage" model="msg" />

<div class="row">
    <div class="col-lg-4">
        <span class="sol">Registration</span> <verdict reg-status="ctx.RegisterDefaultCategory" />
        <br />
        <span class="sol">Rule</span> <verdict rule="ctx.RankingStrategy" />

        <h3 class="mt-4">Team info</h3>
        @if (team == null)
        {
            <p>You didn't register for this contest.</p>
            @if (ctx.RegisterDefaultCategory != 0)
            {
                <form method="post" asp-action="Register">
                    <button class="btn btn-primary" type="submit">Register</button>
                </form>
            }
        }
        else
        {
            <table class="table table-sm table-striped">
                <tr>
                    <th>Name</th>
                    <td>@team.TeamName</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td>@(cats.GetValueOrDefault(team.CategoryId)?.Name)</td>
                </tr>
                <tr>
                    <th>Affiliation</th>
                    <td>@(affs.GetValueOrDefault(team.AffiliationId)?.FormalName ?? "none")</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td><verdict team-status="team.Status" /></td>
                </tr>
            </table>
        }
    </div>
</div>
