@model SingleBoardViewModel
@{
    ViewData["Title"] = "Team";
    ViewData["RefreshAfter"] = "setFlashAndProgress";
    ViewData["RefreshBefore"] = "saveFlash";
    ViewData["RefreshSpan"] = 30;
    bool inajax = ViewData.ContainsKey("InAjax");

    IEnumerable<SubmissionViewModel> submits = ViewBag.Submissions;
    submits = submits.Where(s => s.Problem != null);
    IEnumerable<Clarification> claris = ViewBag.Clarifications;
    Team team = ViewBag.Team;
    var received = claris.Where(c => !c.Sender.HasValue);
    var sent = claris.Where(c => c.Sender.HasValue);

    if (inajax)
    {
        Layout = null;
        <partial name="_Progress" />
    }
}

@if ((Model.Contest.StartTime ?? DateTimeOffset.MaxValue) > DateTimeOffset.Now)
{
    <h1 id="teamwelcome" class="text-center">
        Welcome team 
        <span id="teamwelcometeam">@team.TeamName</span>!
    </h1>
    <h2 id="contestnotstarted" class="text-center">
        <if cond="Model.Contest.StartTime.HasValue">
            Contest scheduled to start on @Model.Contest.StartTime.Value.ToString("ddd, dd MMM yyyy HH:mm:ss", System.Globalization.CultureInfo.InvariantCulture) CST
        </if>
        <if cond="!Model.Contest.StartTime.HasValue">
            Contest has been delayed
        </if>
    </h2>
}
else
{
    <div id="teamscoresummary">
        <scoreboard model="Model" />
    </div>

    <div class="mt-4" data-flash-messages>
        <partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
        @{ TempData.Remove("StatusMessage"); }
    </div>

    <div class="row">
        <div class="col-md-6 col-12">
            <h3 class="teamoverview">Submissions</h3>
            @if (submits.Count() == 0)
            {
                <div class="alert alert-warning">No submissions</div>
            }
            else
            {
                <table class="data-table table table-hover table-striped table-sm submissions-table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">time</th>
                            <th scope="col">problem</th>
                            <th scope="col">lang</th>
                            <th scope="col">result</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var submit in submits)
                        {
                            var t = submit.Time.ToLocalTime();
                            var b = !Model.Contest.EndTime.HasValue || t.DateTime < Model.Contest.EndTime;
                            <tr asp-action="Submission" asp-route-sid="@submit.SubmissionId" data-toggle="ajaxWindow" data-target="submission" class="unseen" id="submit_@submit.SubmissionId">
                                <td use-a>@t.ToString("HH:mm")</td>
                                <td use-a class="probid" title="@submit.Problem.TimeLimit">@submit.Problem.ShortName</td>
                                <td use-a class="langid">@submit.Language.Id</td>
                                <td use-a><verdict3 value="@submit.Verdict" too-late="!b" /></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        <div class="col-md-6 col-12">
            <h3 class="teamoverview">Clarifications</h3>
            @if (received.Count() == 0)
            {
                <p class="nodata">No clarifications.</p>
            }
            else
            {
                <div class="table-wrapper d-block">
                    <table class="data-table table table-striped table-hover clar_table table-sm" style="width:100%;">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">time</th>
                                <th scope="col">from</th>
                                <th scope="col">to</th>
                                <th scope="col">subject</th>
                                <th scope="col">text</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var clar in received)
                            {
                                var prob = Model.Problems.FirstOrDefault(c => c.ProblemId == clar.ProblemId);
                                <tr asp-action="Clarification" asp-route-op="@clar.ClarificationId" data-toggle="ajaxWindow" data-target="recv-clar" class="unseen" id="clar_@clar.ClarificationId">
                                    <td use-a>@clar.SubmitTime.ToString("HH:mm")</td>
                                    <td use-a>Jury</td>
                                    <td use-a>@(clar.Recipient.HasValue ? team.TeamName : "All")</td>
                                    <td use-a>@clar.Category @prob?.ShortName issue</td>
                                    <td use-a>@string.Join('\n', clar.Body.Split('\n').Where(s => !string.IsNullOrWhiteSpace(s) && !s.StartsWith('>')))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

            <h3 class="teamoverview">Clarification Requests</h3>
            @if (sent.Count() == 0)
            {
                <p class="nodata">No clarification request.</p>
            }
            else
            {
                <div class="table-wrapper d-block">
                    <table class="data-table table table-striped table-hover clar_table table-sm" style="width:100%;">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">time</th>
                                <th scope="col">from</th>
                                <th scope="col">to</th>
                                <th scope="col">subject</th>
                                <th scope="col">text</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var clar in sent)
                            {
                                var prob = Model.Problems.FirstOrDefault(c => c.ProblemId == clar.ProblemId);
                                <tr asp-action="Clarification" asp-route-op="@clar.ClarificationId" data-toggle="ajaxWindow" data-target="sent-clar">
                                    <td use-a>@clar.SubmitTime.ToString("HH:mm")</td>
                                    <td use-a>@team.TeamName</td>
                                    <td use-a>Jury</td>
                                    <td use-a>@clar.Category @prob?.ShortName issue</td>
                                    <td use-a>@string.Join('\n', clar.Body.Split('\n').Where(s => !string.IsNullOrWhiteSpace(s) && !s.StartsWith('>')))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <style>
                    .clar_table td { white-space: normal; }
                </style>
            }

            <div class="m-1">
                <a asp-action="Clarification" asp-route-op="add" class="btn btn-secondary btn-sm" data-toggle="ajaxWindow" data-target="submission">
                    request clarification
                </a>
            </div>
        </div>
    </div>
}

@if (!inajax)
{
    @section Scripts {
        <script>
            $(function () {
                var seenSub = getSeenSubmissions();
                for (var i = 0; i < seenSub.length; i++)
                    $('#submit_' + seenSub[i]).removeClass('unseen');
                var seenClar = getSeenClarification();
                for (var i = 0; i < seenClar.length; i++)
                    $('#clar_' + seenClar[i]).removeClass('unseen');
            });
        </script>
        <script>
            var $flash = null;

            function getSeenSubmissions() {
	            var cookieVal = getCookie("xylab_submission_seen_at_cid_@Model.Contest.ContestId");
	            if (cookieVal === null || cookieVal === "") {
		            return new Array();
	            }
	            return JSON.parse(cookieVal);
            }

            function getSeenClarification() {
	            var cookieVal = getCookie("xylab_clarification_seen_at_cid_@Model.Contest.ContestId");
	            if (cookieVal === null || cookieVal === "") {
		            return new Array();
	            }
	            return JSON.parse(cookieVal);
            }

            function saveFlash() {
                $flash = $('[data-flash-messages]').children();
            }

            function setSeenSub(sub) {
                $('#submit_' + sub).removeClass('unseen');
                var seenSubmissions = getSeenSubmissions();
                if (seenSubmissions.indexOf(sub) == -1)
                    seenSubmissions.push(sub);
                var cookieVal = JSON.stringify(seenSubmissions);
	            setCookie("xylab_submission_seen_at_cid_@Model.Contest.ContestId", cookieVal);
            }

            function setSeenClar(clar) {
                $('#clar_' + clar).removeClass('unseen');
                var seenClaris = getSeenClarification();
                if (seenClaris.indexOf(clar) == -1)
                    seenClaris.push(clar);
                var cookieVal = JSON.stringify(seenClaris);
	            setCookie("xylab_clarification_seen_at_cid_@Model.Contest.ContestId", cookieVal);
            }

            function setFlashAndProgress() {
                var $newProgress = $('[data-ajax-refresh-target] > [data-progress-bar]');
                if ($newProgress.length) {
                    var $oldProgress = $('body > [data-progress-bar]');
                    $oldProgress.html($newProgress.children());
                    $newProgress.remove();
                }

                $('[data-flash-messages]').html($flash);

                var seenSub = getSeenSubmissions();
                for (var i = 0; i < seenSub.length; i++)
                    $('#submit_'+seenSub[i]).removeClass('unseen');
                var seenClar = getSeenClarification();
                for (var i = 0; i < seenClar.length; i++)
                    $('#clar_'+seenClar[i]).removeClass('unseen');
            }

            function markSeen($elem) {
                $elem.closest('tr').removeClass('unseen');
            }
        </script>
        <style>

            .data-table td a, .data-table td a:hover {
                display: block;
                text-decoration: none;
                color: inherit;
                padding: 3px 5px;
            }

            .data-table tr {
                border-bottom: 1px solid silver;
            }

                .data-table tr:hover {
                    background: #ffffcc !important;
                }
        </style>
    }
}