@model JuryListClarificationModel
@{
    ViewData["Title"] = "Clarifications";
}

<h2 class="mt-2">@ViewData["Title"]</h2>
<p><a asp-action="Send" asp-route-teamto="-1">Send Clarification</a></p>
<p><a href="#newrequests">View New Clarification Requests</a></p>
<p><a href="#oldrequests">View Old Clarification Requests</a></p>
<p><a href="#clarifications">View General Clarifications</a></p>

<h3 id="newrequests" class="mt-3">New requests</h3>
<div asp-show-if="Model.NewRequests.Any()" class="table-wrapper">
    <table class="data-table table table-sm table-striped" style="width:auto">
        <thead class="">
            <tr>
                <th scope="col" class="sortable searchable">ID</th>
                <th scope="col" class="sortable searchable">time</th>
                <th scope="col" class="sortable searchable">from</th>
                <th scope="col" class="sortable searchable">to</th>
                <th scope="col" class="sortable searchable">subject</th>
                <th scope="col" class="sortable searchable">text</th>
                <th scope="col" class="sortable searchable">state</th>
                <th scope="col" class="sortable searchable">who</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var clar in Model.NewRequests)
            {
                var prob = Model.Problems.FirstOrDefault(c => c.ProblemId == clar.ProblemId);
                var toClaim = clar.JuryMember != Model.JuryName && clar.JuryMember != null;
                <tr asp-action="Detail" asp-route-clarid="@clar.ClarificationId" data-toggle="gotoUrl">
                    <td use-a>@clar.ClarificationId</td>
                    <td use-a>@clar.SubmitTime.ToString("HH:mm")</td>
                    <td use-a class="force-width">@clar.TeamName</td>
                    <td use-a>Jury</td>
                    <td use-a>@clar.Category @prob?.ShortName issue</td>
                    <td use-a>@string.Join('\n', clar.Body.Split('\n').Where(b => !b.StartsWith('>')))</td>
                    <td use-a><i class="fas fa-@(clar.JuryMember == null ? "times" : "user-lock")"></i></td>
                    <td style="@(!toClaim ? "padding:1px" : "")">
                        <span asp-show-if="toClaim">@clar.JuryMember</span>
                        <a asp-show-if="!toClaim" asp-action="Claim" asp-route-clarid="@clar.ClarificationId" asp-route-claim="@(clar.JuryMember == null)" data-toggle="ajaxWindow" data-target="claimClaris" class="btn d-block btn-sm btn-outline-success">@(clar.JuryMember == null ? "claim" : "unclaim")</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p class="nodata" asp-show-if="!Model.NewRequests.Any()">No new clarification requests.</p>

<h3 id="oldrequests" class="mt-3">Old requests</h3>
<div asp-show-if="Model.OldRequests.Any()" class="table-wrapper">
    <table class="data-table table table-sm table-striped" style="width:auto">
        <thead class="">
            <tr>
                <th scope="col" class="sortable searchable">ID</th>
                <th scope="col" class="sortable searchable">time</th>
                <th scope="col" class="sortable searchable">from</th>
                <th scope="col" class="sortable searchable">to</th>
                <th scope="col" class="sortable searchable">subject</th>
                <th scope="col" class="sortable searchable">text</th>
                <th scope="col" class="sortable searchable">state</th>
                <th scope="col" class="sortable searchable">who</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var clar in Model.OldRequests)
            {
                var prob = Model.Problems.FirstOrDefault(c => c.ProblemId == clar.ProblemId);
                <tr asp-action="Detail" asp-route-clarid="@clar.ClarificationId" data-toggle="gotoUrl">
                    <td use-a>@clar.ClarificationId</td>
                    <td use-a>@clar.SubmitTime.ToString("HH:mm")</td>
                    <td use-a class="force-width">@clar.TeamName</td>
                    <td use-a>Jury</td>
                    <td use-a>@clar.Category @prob?.ShortName issue</td>
                    <td use-a>@string.Join('\n', clar.Body.Split('\n').Where(b => !b.StartsWith('>')))</td>
                    <td use-a><i class="fas fa-@(clar.Answered ? "check" : "times")"></i></td>
                    <td use-a>@clar.JuryMember</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p asp-show-if="!Model.OldRequests.Any()" class="nodata">No old clarification requests.</p>

<h3 id="clarifications" class="mt-3">General clarifications</h3>
<div asp-show-if="Model.GeneralClarifications.Any()" class="table-wrapper">
    <table class="data-table table table-sm table-striped" style="width:auto">
        <thead class="">
            <tr>
                <th scope="col" class="sortable searchable">ID</th>
                <th scope="col" class="sortable searchable">time</th>
                <th scope="col" class="sortable searchable">from</th>
                <th scope="col" class="sortable searchable">to</th>
                <th scope="col" class="sortable searchable">subject</th>
                <th scope="col" class="sortable searchable">text</th>
                <th scope="col" class="sortable searchable">state</th>
                <th scope="col" class="sortable searchable">who</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var clar in Model.GeneralClarifications)
            {
                var prob = Model.Problems.FirstOrDefault(c => c.ProblemId == clar.ProblemId);
                <tr asp-action="Detail" asp-route-clarid="@clar.ClarificationId" data-toggle="gotoUrl">
                    <td use-a>@clar.ClarificationId</td>
                    <td use-a>@clar.SubmitTime.ToString("HH:mm")</td>
                    <td use-a>Jury</td>
                    <td use-a>All</td>
                    <td use-a>@clar.Category @prob?.ShortName issue</td>
                    <td use-a>@string.Join('\n', clar.Body.Split('\n').Where(b => !b.StartsWith('>')))</td>
                    <td use-a><i class="fas fa-@(clar.Answered ? "check" : "times")"></i></td>
                    <td use-a>@clar.JuryMember</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p asp-show-if="!Model.GeneralClarifications.Any()" class="nodata">No general clarifications.</p>

<script>
    $().ready(function () {
        $('.data-table').DataTable({
            "paging": false,
            "searching": true,
            "ordering": true,
            "order": [[0, 'asc']],
            "info": false,
            "autoWidth": true,
            "language": {
                "searchPlaceholder": "filter table",
                "search": "_INPUT_",
            },
            'aoColumnDefs': [
                { aTargets: ['sortable'], bSortable: true },
                { aTargets: ['searchable'], bSearchable: true },
                { aTargets: ['_all'], bSortable: false, bSearchable: false }
            ],
        });
    });
</script>
