@model IEnumerable<ProblemArchive>
@{
    ViewData["Title"] = "Problem List";
}

<h2 class="mt-4">Problems</h2>

<table class="mt-3 table table-responsive-md">
    <thead>
        <tr>
            <th style="min-width:6em"><span class="d-none d-lg-inline"> Prob.</span>ID</th>
            <th style="min-width:20em">Title</th>
            <th style="min-width:10em">Ratio<span class="d-none d-lg-inline"> (AC/Total)</span></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.PublicId
                    <i asp-show-if="item.Submitted == true" class="fas fa-check-circle text-success"></i>
                    <i asp-show-if="item.Submitted == false" class="fas fa-exclamation-circle text-warning"></i>
                </td>
                <td>
                    <a asp-action="View" asp-route-pid="@item.PublicId">@item.Title</a>
                    <span style="font-size:0.9em">
                        <tags color="info" list="@item.Source" />
                        <tags color="secondary" list="@item.TagName" />
                    </span>
                </td>
                <td>@Html.RatioOf(item.Accepted, item.Total)</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <pagination bs-current-page="ViewBag.Page" bs-total-page="ViewBag.TotalPage" />
            </td>
        </tr>
    </tfoot>
</table>
