@model IEnumerable<News>
@{
    ViewData["Title"] = "News";
    ViewData["DisableAjaxRefresh"] = true;
}

<h2 class="mt-2">@ViewData["Title"]</h2>

<div class="table-wrapper">
    <table class="data-table table table-sm table-striped" style="width:auto">
        <thead>
            <tr role="row">
                <th scope="col" class="sortable searchable">ID</th>
                <th scope="col" class="sortable searchable">title</th>
                <th scope="col" class="sortable searchable">time</th>
                <th scope="col" class="sortable searchable">active</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var news in Model)
            {
                <tr asp-area="Misc" asp-controller="Home" asp-action="News" asp-route-nid="@news.NewsId" data-toggle="gotoUrl" class="@(news.Active ? "" : "disabled")">
                    <td use-a>@news.NewsId</td>
                    <td use-a>@news.Title</td>
                    <td use-a>@Html.CstTime(news.LastUpdate)</td>
                    <td use-a>@(news.Active ? "yes" : "no")</td>
                    <td><a title="edit this news" asp-action="Edit" asp-route-nid="@news.NewsId"><i class="fas fa-edit"></i></a></td>
                    <td><a title="delete this news" asp-action="Delete" asp-route-nid="@news.NewsId" data-toggle="ajaxWindow"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $().ready(function () {
        $('.data-table').DataTable({
            "paging": false,
            "searching": true,
            "ordering": true,
            "order": [[0, 'desc']],
            "info": false,
            "autoWidth": true,
            "language": {
                "searchPlaceholder": "filter table",
                "search": "_INPUT_",
            },
            'aoColumnDefs': [
                { aTargets: ['sortable'], bSortable: true },
                { aTargets: ['searchable'], bSearchable: true },
                { aTargets: ['_all'], bSortable: false, bSearchable: false }
            ],
        });
    });
</script>

<p>
    <a asp-action="Add" class="btn btn-primary" title="Add news"><i class="fas fa-plus"></i>&nbsp;Add news</a>
</p>
