@model IEnumerable<ContestListModel>
@{
    ViewData["Title"] = "Contests";

    string ContestState(ContestListModel c)
    {
        if (!c.StartTime.HasValue) return "table-primary";
        if (DateTime.Now < c.EndTime) return "table-warning";
        return "";
    }
}

<div class="container-fluid mt-4 mb-4 pl-4 pr-4">
    <h2>Contests</h2>
    <h5 class="mb-3">
        List of contests
    </h5>

    <table class="table table-responsive-lg">
        <thead>
            <tr>
                <th style="min-width:24em">Contest</th>
                <th style="min-width:12em">Begin Time</th>
                <th style="min-width:7.5em;text-align:center">Length</th>
                <th style="min-width:6.5em;text-align:center">Teams</th>
                <th style="min-width:7.5em;text-align:center">Rule</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contest in Model)
            {
                if (!contest.IsPublic && !contest.IsRegistered && !User.IsInRoles("Administrator,JuryOfContest"+contest.ContestId)) { continue; }
                <tr class="@ContestState(contest)">
                    <td class="bowtie">
                        @if (!contest.IsPublic) { <i class="bowtie-watch-eye-off"></i> }
                        <a asp-action="Info" asp-controller="Public" asp-area="Contest" asp-route-cid="@contest.ContestId">@(string.IsNullOrEmpty(contest.Name) ? "(unnamed)" : contest.Name)</a>
                    </td>
                    <td>@Html.CstTime(contest.StartTime)</td>
                    <td align="center">@(contest.EndTime - contest.StartTime)</td>
                    <td class="bowtie" align="center"><i class="bowtie-user"></i> &times; @contest.TeamCount</td>
                    <td align="center"><verdict rule="contest.RankingStrategy" /></td>
                </tr>
            }
        </tbody>
    </table>
</div>
