@using JudgeWeb.Domains.Contests
@model IEnumerable<ContestListModel>
@{
    ViewData["Title"] = "Contests";
    ViewData["ActiveAction"] = "Contest";
    HashSet<int> rg = ViewBag.RegisteredContests;

    string ContestState(ContestListModel c)
    {
        if (!c.StartTime.HasValue) return "table-primary";
        if (DateTimeOffset.Now < c.StartTime) return "table-warning";
        if (DateTimeOffset.Now < c.EndTime) return "table-success";
        return "";
    }
}

<h2 class="mt-2">Contests</h2>

<table class="table table-responsive-lg mt-3">
    <thead>
        <tr>
            <th style="min-width:24em">Contest</th>
            <th style="min-width:12em">Begin Time</th>
            <th style="min-width:7.5em;text-align:center">Length</th>
            <th style="min-width:6.5em;text-align:center">Teams</th>
            <th style="min-width:7.5em;text-align:center">Rule</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contest in Model)
        {
            <tr asp-show-if="@(contest.IsPublic || rg.Contains(contest.ContestId) || User.IsInRoles("Administrator,JuryOfContest"+contest.ContestId))" class="@ContestState(contest)">
                <td>
                    <i asp-show-if="!contest.IsPublic" class="fas fa-eye-slash"></i>
                    <a asp-action="Info" asp-controller="Public" asp-area="Contest" asp-route-cid="@contest.ContestId">@(string.IsNullOrEmpty(contest.Name) ? "(unnamed)" : contest.Name)</a>
                    <badge asp-show-if="rg.Contains(contest.ContestId)" color="success">registered</badge>
                </td>
                <td>@Html.CstTime(contest.StartTime)</td>
                <td align="center">@(contest.EndTime - contest.StartTime)</td>
                <td align="center"><i class="fas fa-user"></i>&times;@contest.TeamCount</td>
                <td align="center"><verdict0 type="ContestRule" value="@contest.RankingStrategy" /></td>
            </tr>
        }
    </tbody>
</table>
